* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.inputsContainer{
  display: flex;
  gap: 2rem;
}

.inputText, .selectInput, .pitchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.inputText input, .selectInput select {
  padding: 0.5rem 1rem;
  width: 100%;
}

.pitchInput input{
  width: 50%;
}

@media (max-width: 400px){
  .inputsContainer{
    flex-direction: column;
  }
}